<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mycookbook">
    <!-- Change to your package name -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCookBook"
        tools:targetApi="31">
        <activity
            android:name=".addrecipe1"
             />

        <activity
            android:name=".Account"
            />
        <activity
            android:name=".Community"
             />
        <activity
            android:name=".Notification"
             />
        <activity
            android:name=".DonutsRecipe"
             />
        <activity
            android:name=".PizzaRecipe"
            />
        <activity
            android:name=".PanCakeRecipe"
             />
        <activity
            android:name=".CheeseCakeRecipe"
           />
        <activity
            android:name=".SearchRecipe"
            />
        <activity
            android:name=".SignInPage"
           />
        <activity
            android:name=".SkillLevel4"
             />
        <activity
            android:name=".SkillLevel3"
            />
        <activity
            android:name=".SkillLevel2"
            />
        <activity
            android:name=".SkillLevel"
            />
        <activity
            android:name=".LoginPage"
            />
        <activity
            android:name=".StartCooking"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>